snippet desc
	describe('${1}', function() {
		${0}
	});
snippet it
	it('${1}', function() {
		${0}
	});
snippet xit
	xit('${1}', function() {
		${0}
	});
snippet req
	var ${1} = require('${0}');
snippet us
	'use strict';

